<p id="notice"><%= notice %></p>

<div class="w3-panel w3-pale-green w3-border w3-round-small">

<div>cart</div>

<div class= "panel-body">
 <table class="table table-responsive">	
	   <% @cart.line_items.each do |item| %>
    <tr><td><%= item.quantity %> &times; </td>
	<td><%= item.product.title %></td>
	<td><%= number_to_currency(item.total_price) %></td>
	<td><%= image_tag(item.product.image_url)%></td>
    </tr>
    <% end %>
    <tr>
    <td><td>Total Order Value</td><td><%= number_to_currency(@cart.total_price) %></td></td>
    </tr>
 </table>
</div>

<div>



<%= link_to 'Keep Shopping', store_index_url , class:"w3-button w3-hover-purple" %>
<%= button_to 'Empty cart', @cart, class:"w3-button w3-hover-purple",  method: :delete, data: { confirm: 'Are you sure?' } %>
</div></div>
