<p id="notice"><%= notice %></p>

<div class="w3-panel w3-pale-green w3-border w3-round-small">

<div>cart</div>

<div>
<ul>
	  <% @cart.line_items.each do |item| %>
	    <li><%= item.product.title %></li>
	    <li><%= number_to_currency(item.product.price) %></li>
	    <li> <%= image_tag(item.product.image_url) %></li>
	  <% end %>
	</ul>

</div>

<div>

<%= link_to 'Edit', edit_cart_path(@cart) ,class:"w3-button w3-hover-pale-green" %> |
<%= link_to 'Back', carts_path , class:"w3-button w3-hover-pale-green" %>

</div></div>
