<p id="notice"><%%= notice %></p>

<div class="w3-panel w3-green">

<div><%= singular_table_name %></div>

<div>

<% attributes.reject(&:password_digest?).each do |attribute| -%>

<p>
  <strong><%= attribute.human_name %>:</strong>
  <%%= @<%= singular_table_name %>.<%= attribute.name %> %>
</p>

<% end -%>

</div>

<div>

<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) ,class:"w3-button w3-hover-purple" %> |
<%%= link_to 'Back', <%= index_helper %>_path , class:"w3-button w3-hover-purple" %>

</div></div>
