<p id="notice"><%= notice %></p>

<div class="w3-panel w3-pale-green w3-border w3-round-small">

<div>line_item</div>

<div>


<p>
  <strong>Product:</strong>
  <%= @line_item.product %>
</p>


<p>
  <strong>Cart:</strong>
  <%= @line_item.cart %>
</p>


</div>

<div>

<%= link_to 'Edit', edit_line_item_path(@line_item) ,class:"w3-button w3-hover-pale-green" %> |
<%= link_to 'Back', line_items_path , class:"w3-button w3-hover-pale-green" %>

</div></div>
